.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.carousel-container {
  /* display: flex; */
  /* justify-content: space-around; */
  /* height: 300px; */
  /* width: 100%; */
  margin: 0 auto;
}

.carousel-item img {
  max-height: 300px;
  object-fit: cover;
}

/* .carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
} */

.carousel-item.selected {
  border: 2px solid #007BFF; /* Thay đổi màu viền theo ý bạn */
}
.carousel-container {
  position: relative;  
  width: 100%;  
}

.carousel-item {
  /* margin-left: 50px; */
  height: 200px;
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
  text-align: center;
  transition: transform 0.3s;
}

.carousel-item.selected {
  background-color: #3177A7;
  color: #fff;
  /* border: 2px solid #007BFF; */
  transform: scale(1.05);
}

.carousel-item img {
  width: 100%;
  height: 100px;
  /* height: auto; */
  border-bottom: 1px solid #ddd;
  border-radius: 8px 8px 0 0;
}

.carousel-caption {
  /* padding: 50px; */
}

.carousel-caption h3 {
  font-size: 1.2em;
  margin: 0;
  color: #000;
}

.carousel-caption p {
  font-size: 0.9em;
  color: #888;

}

.react-multi-carousel-item{
  margin-left: 10px;
   
  width: 250px; /* Đặt kích thước cố định cho carousel item */
}
.react-multi-carousel-list{
  /* border-radius:10px; */
  border: 1px solid #888;
  /* justify-content: space-around; */
  height: 250px;
 
}

.carousel-item {
  height: 200px;
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
  text-align: center;
  transition: transform 0.3s;
}

.card {
  position: relative;
}
.buttonHideorShow{
  /* display: block; */
  width: 180px;
  height: 50px;
  background-color: #3177A7;
  color: white;
}